{% extends "layout.html" %}

{% block content %}
<div class="container">
      <div class="row marketing">
        <div class="col-lg-6">
<form action="/api-forgot_password" method="post">
  <h2>Enter the email address used to register, and a password reset procedure will be emailed to you</h2>
  <fieldset class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset> 
  <button type="submit" class="btn btn-primary">Send Email</button>
</form>   
</div>
</div>
</div>

{% endblock %}